

<%- include("header"); -%>

<form class="" action="/" method="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 d2">
        <h5>Invalid URL, please enter a valid URL.</h5>
        <input class="lurl" type="text" name="longurl" value="" autocomplete="off" placeholder="Enter the URL">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 d3">
        <button class="btn btn-dark btn-lg" type="submit" name="button">Shorten</button>
      </div>
    </div>
  </div>
</form>




<%- include("footer"); -%>
